addonpy==1.0.9
beautifulsoup4==4.4.1
blinker==1.4
bs4==0.0.1
Cerberus==0.9.2
cssmin==0.2.0
Flask==0.10.1
Flask-Assets==0.11
Flask-Blogging==0.6.0.post1
Flask-Cache==0.13.1
Flask-DebugToolbar==0.10.0
Flask-Login==0.2.11
Flask-Mail==0.9.1
Flask-Principal==0.4.0
Flask-SeaSurf==0.2.2
Flask-WTF==0.12
gevent==1.1rc5
greenlet==0.4.9
gunicorn==19.4.1
itsdangerous==0.24
Jinja2==2.8
jsmin==2.1.4
Markdown==2.6.6
MarkupSafe==0.23
meinheld==0.5.9
psutil==5.6.6
redis==2.10.5
requests==2.8.1
simplejson==3.8.2
SQLAlchemy==1.0.12
webassets==0.11.1
Werkzeug==0.15.3
WTForms==2.1
