{% extends 'layout.html' %}

{% block title %}Upload{% endblock %}
{% import 'macro/display_helper.html' as helper %}

{% block topnavigation %}
    {{ helper.addTopNavigation(current_user, show_profile=False) }}
{% endblock %}

{% block body %}
    <div class="row col-lg-4 col-lg-offset-4" style="padding-top: 100px;">
        <div class="panel panel-default">
            <div class="panel panel-heading">
                <h4 class="panel-title">Upload Form</h4>
            </div>
            <div class="panel-body">
                <form id="upload-form" action="" method="post" enctype="multipart/form-data">
                    {{ helper.addCSRFToken() }}
                    <div class="modal-body">
                        <select id="type" name="type" class="form-control">
                            <option value="dp">Display Picture</option>
                            <option value="resume">Resume</option>
                            <option value="blog">Blog Picture</option>
                        </select>

                        <input id="file" name="file" class="form-control" type="file" placeholder="Please select a file to be uploaded" required
                    </div>
                    <br>
                    <div class="col-lg-6 col-lg-offset-3">
                        <div>
                            <button type="submit" class="btn btn-info btn-sm btn-block">Upload</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {{ helper.footer() }}
{% endblock %}