{% extends 'layout.html' %}

{% block title %}Upload{% endblock %}
{% block topnavigation %}
            <li> <a class="page-scroll" href="#contact">Contact</a> </li>
{% endblock %}
{% block body %}

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                    <h2 style="color: white;">Please Login</h2>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                    <div class="alert alert-{{category}} alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{ message }}
                    </div>
                    </div>
                 </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

    <div class="col-lg-4 col-lg-offset-4">
    <form id="login-form" action="" method="post" enctype="multipart/form-data">
        <div class="modal-body">
            <select id="type" name="type" class="form-control">
                <option value="dp">Display Picture</option>
                <option value="resume">Resume</option>
                <option value="blog">Blog Picture</option>
            </select>

            <input id="file" name="file" class="form-control" type="file" placeholder="Please select a file to be uploaded" required/>
        </div>
        <div class="modal-footer col-lg-6 col-lg-offset-3">
            <div>
                <button type="submit" class="btn btn-primary btn-lg btn-block">Upload</button>
            </div>
        </div>
    </form>


    </div>
        </div>
    </header>

{% endblock %}
