{% extends 'layout.html' %}
{% import 'macro/display_helper.html' as helper %}
{% block title %}Python Module Update Checker{% endblock %}

{% block topnavigation %}
            <li><a href="/blog">Blog</a></li>
            <li><a href="/apps">Apps</a></li>
            <li class="page-scroll"><a href="#contact">Contact</a></li>
{% endblock %}

{% block stylex %}
    div.content {padding: 100px 20px 20px 20px;}
    td.matchx {backgorund-color: green !important;}
    .hide { display: none;}
    td.nomatchx {backgorund-color: orange !important;}
{% endblock %}

{% block jquery %}
    $('.match_only').on('click', function() {
        var btn_text = $(this).text();
        if (btn_text == 'Hide Matching Modules') {
            $('span.match').each(function() {
                $(this).parents('tr').addClass('hide');
            })
            $(this).text('Show Matching Modules');
            $(this).removeClass('btn-primary').addClass('btn-danger');
        } else if (btn_text == 'Show Matching Modules') {
            $('span.match').each(function() {
                $(this).parents('tr').removeClass('hide');
            })
            $(this).text('Hide Matching Modules');
            $(this).removeClass('btn-danger').addClass('btn-primary');
        }
    });

    $('.nomatch_only').on('click', function() {
        var btn_text = $(this).text();
        if (btn_text == 'Hide Non-Matching Modules') {
            $('span.nomatch').each(function() {
                $(this).parents('tr').addClass('hide');
            })
            $(this).text('Show Non-Matching Modules');
            $(this).removeClass('btn-primary').addClass('btn-danger');
        } else if (btn_text == 'Show Non-Matching Modules') {
            $('span.nomatch').each(function() {
                $(this).parents('tr').removeClass('hide');
            })
            $(this).text('Hide Non-Matching Modules');
            $(this).removeClass('btn-danger').addClass('btn-primary');
        }
    });

   $('.pip_cmd').on('click', function() {
       var nonMatching = [];
       $('table.result').find('td.nomatchx').each(function() {
           var t = $(this).parent().find('td:first')[0];
           console.log(t.textContent);
           nonMatching.push(t.textContent);
       });

       if ( nonMatching.length > 0 ) {
           var cmd = 'pip install -U ';
           cmd += nonMatching.join(' ');
           var $opBox = $('pre.pip_cmd_op');
           $opBox.text(cmd);
           $opBox.parent().removeClass('hide');
       } else {
           showInfo('No Mismatches found!!');
       }
   });

   $('#upd_chkr').on('submit', function (event) {
      disableButton('submit'); disableButton('reset');

      var $d = $('#data').val().split('\n');
      var errors = 0;
      var lines = 0;
      var re = /\w+==\w+/;
      var result = [];

      if ( $d.length == 1 && $d[0] == '' ) {
          showError('Please enter some data!!');
          enableButton('submit'); enableButton('reset');
          return false;
      }

      /* Check for duplicates */

      var count = {};
      $.each($d, function(idx, val) {
         idx++; lines++;
         // if ( re.test(val) == false )
         if ( val.split('==').length != 2 )
         {
           result.push('Error: Invalid Line [' + idx + '] > ' + val + '\n');
           errors++;
         } else if ( re.test(val) == false ) {
           result.push('Error: Invalid Line [' + idx + '] > ' + val + '\n');
           errors++;
         }
      })

      /* Show only top 10 errors */

      result = result.slice(0, 10);

      if (errors > 0) {
          var limited = (errors > 10) ? ", Showing top 10 errors!" : "!!!";
          result.push('\nThere are total of ' + errors + ' error(s)' + limited);
          showError(result.join('<br>'));
          enableButton('submit'); enableButton('reset');
          return false;
      } else if ( lines > 100 ) {
          showError('Maximum 100 modules can be tested in 1 request! you are trying to test ' + lines + ' modules');
          enableButton('submit'); enableButton('reset');
          return false;
      }
      return true;
   });
{% endblock %}

{% block body %}
    <div class="content row">
        <div class="col-lg-12">
            {% if data %}
                <div class="panel panel-default">
                    <div class="panel panel-heading">
                        <h3 class="panel-title">Python Module Version Comparison</h3>
                    </div>
                    <div class="panel-body">
                        <div class="summary col-lg-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">Summary</h4>
                                </div>
                                <div class="panel-body">
                                    <table class="table table-bordered summary">
                                        <tbody>
                                            {% for k in summary %}
                                            <tr>
                                                <td>{{ k }}</td>
                                                <td>{{ summary[k] }}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-10">
                            <button class="btn btn-success btn-xs match_only" id="matching" tooltip="Hide/Show 'Up to date' modules">Hide Matching Modules</button>
                            <button class="btn btn-warning btn-xs nomatch_only" id="notmatching" style="padding-left: 5px;" tooltip="Hide/Show 'Update Available' modules">Hide Non-Matching Modules</button>
                        </div>
                        <div class="col-lg-10" style="padding-top: 10px;">
                            <table class="table table-bordered result">
                                <thead>
                                    <tr>
                                        <th>Module</th>
                                        <th>Your Version</th>
                                        <th>Latest Version</th>
                                        <th>Matching?</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for module in data|sort %}
                                    <tr>
                                        <td>{{ module }}</td>
                                        <td>{{ data[module]['current'] }}</td>
                                        <td {{ helper.addMissingComment(data[module]['remote']) }}>{{ data[module]['remote'] }}</td>
                                        {%- if data[module]['match'] -%}
                                            <td class="matchx" style="background-color: green;"><span class="match">Yes</span></td>
                                        {% else %}
                                            <td class="nomatchx" style="background-color: orange;"><span class="nomatch">No</span></td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="col-lg-10" style="padding-top: 5px;">
                            <button class="btn btn-success btn-xs pip_cmd" id="pip_cmd" style="padding-left: -5px;" tooltip="Generate Pip Command">Generate pip command</button>
                            <a class="btn btn-success btn-xs nomatch_only" href="{{ url_for('application.py_upd_checker') }}" id="back" style="padding-left: 5px;" tooltip="Perform another module check">Do Another Check?</a>
                        </div>
                        <div class="col-lg-10 hide" style="padding-top: 5px;">
                            <pre class="lang-py pip_cmd_op"></pre>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="well well-sm">
                    <h3>Python Module Version Checker</h3>
                    <br>
                    This is a small tool to check the version of python modules against the latest available.
                    Just copy paste the output of <code>pip freeze</code> here and submit!

                    <div class="note">
                        <ol>
                            <li>Up to 100 modules</li>
                            <li>Result will be cached for 12 hrs</li>
                            <li>It could take up to 45 sec. to get the result, please have a patience!! (working on reducing the time)</li>
                        </ol>
                    </div>
                </div>
                <form action="" id="upd_chkr" method="post">
                    <textarea cols="100" rows="20" id="data" name="data" placeholder="paste output of 'pip freeze'"></textarea>
                    <div style="padding-top: 10px;">
                        <label for="as_json">Get Result As JSON? </label>
                        <input type="checkbox" id="as_json" name="as_json">
                    </div>
                    <div style="padding-top: 10px;">
                        <input type="submit" class="btn btn-success btn-sm"/>
                        <input type="reset" class="btn btn-danger btn-sm"/>
                    </div>
                </form>
            {% endif %}
        </div>
    </div>

    <div id="contact">
        {{ helper.footer() }}
    </div>

{% endblock %}
